// Your brand colors
$yellow: #fdda24;
$red: #fa4616;
$blue: #00a9e0;
$green: #84bd00;
$orange: #ff8200;
$lightgrey: #f6f6f6;
$darkgrey: #a2a0a0;
$black: #050707;
$white: #ffffff;
$lightblue: #5ed7ff;
$lightgreen: #aceb19;
$lightorange: #ff972e;

// Import the Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=PT+Mono&family=Rubik+Mono+One&display=swap");

// .rubik-mono-one-regular {
//   font-family: "Rubik Mono One", monospace;
//   font-weight: 400;
//   font-style: normal;
// }
//
// .lato-regular {
//   font-family: "Lato", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }
//
// .lato-bold {
//   font-family: "Lato", sans-serif;
//   font-weight: 700;
//   font-style: normal;
// }
//
// .lato-regular-italic {
//   font-family: "Lato", sans-serif;
//   font-weight: 400;
//   font-style: italic;
// }
//
// .pt-mono-regular {
//   font-family: "PT Mono", monospace;
//   font-weight: 400;
//   font-style: normal;
// }

// Custom UIKit variables
$global-background: $white;
$global-color: $black;
$global-emphasis-color: $black;
$global-inverse-color: $white;
$global-primary-background: $yellow;
$global-secondary-background: $black;
$global-muted-background: $lightgrey;
$global-font-family: "Lato", sans-serif;
$base-heading-font-family: "Rubik Mono One", monospace;
$heading-large-font-size: 3rem;
$heading-large-font-size-l: clamp(
  1.75rem,
  4.347826087vw + -0.347826087rem,
  8rem
);

$button-primary-color: $global-color;
$button-primary-hover-color: $global-color;
$button-primary-active-color: $global-color;

// UIKit default variables and mixins
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// Custom mixin overwrites.
@mixin hook-text-lead() {
  font-family: "PT Mono", monospace;
}

// Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

// Site specific classes

// ESTRUCTURA
.uk-container {
  @media screen and (min-width: 1100px) {
    padding: 0 14rem !important;
  }
}
.uk-container-img {
  @media screen and (min-width: 1100px) {
    padding: 0 0rem 0 14rem !important;
  }
}
// COLORES
.color-yellow {
  color: $yellow !important;
}
.color-red {
  color: $red !important;
}
.color-blue {
  color: $blue !important;
}
.color-green {
  color: $green !important;
}
.color-orange {
  color: $orange !important;
}
.color-lightgrey {
  color: $lightgrey !important;
}
.color-darkgrey {
  color: $darkgrey !important;
}
.color-black {
  color: $black !important;
}
.color-white {
  color: $white !important;
}
.bg-orange {
  background: $orange !important;
}
.bg-yellow {
  background: $yellow !important;
}
.bg-red {
  background: $red !important;
}
.bg-blue {
  background: $blue !important;
}
.bg-green {
  background: $green !important;
}
.bg-lightgreen {
  background: $lightgreen !important;
}
//TEXT
p {
  font-size: 20px !important;
  @media screen and (min-width: 1100px) {
    font-size: 18px !important;
  }
}

//ICON
.external-link-icon {
  display: inline-block;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

//BUTTON
.button-icon {
  display: inline-flex !important;
}
.button-outline-black {
  border: 1.5px solid $black !important;
  color: $black !important;
  background: transparent !important;
  transition: all 0.3s ease;
  border-radius: 6px;
}
.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;
}
//MARGINS
.no-padding-b {
  padding-bottom: 0px !important
}

//INTRO
.container-first {
  background-image: url("img/foto-intro.png");
  padding: 1rem;
  background-size: cover;
  h1,
  p {
    color: $white !important;
  }
  p {
    @media screen and (min-width: 1100px) {
      font-size: 1.5rem !important;
      max-width: 60%;
    }
  }
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  @media screen and (min-width: 1100px) {
    padding: 4rem 6rem;
  }
}
.intro-heading {
  @media screen and (min-width: 1100px) {
    max-width: 50%;
  }
}

.container-third {
  background: $lightblue;
}

// See https://www.scientecheasy.com/2024/12/youtube-embed-code.html/
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 600px;
  float: left;
  margin: 0 auto;
  border-radius: 6px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

// QUIERO VER ALGO MÁS CONCRETO
.logo-weall {
  width: 14rem;
  margin: 0 0;
}
//STYLES
.rounded-16 {
  border-radius: 16px !important;
}

//MODIFICACIONES A LIBRERÍA UIKIT
.uk-button {
  border-radius: 6px !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0 18px !important;
  font-size: 17px !important;
}
.uk-accordion-title {
  border-radius: 16px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: black !important;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 24px !important;
}
//MARGINS ITEMS UL ACCORDION
.uk-accordion-default > :nth-child(n + 2) {
  margin-top: 8px !important;
}
.uk-accordion-content {
  padding: 0 1rem;
  color: black !important;
  margin-top: 0 !important;
}

.text-accordion {
  //not ui kit
  color: black !important;
  padding: 1rem 0;
  border-top: 1.5px solid black;
}
.uk-modal-dialog {
  border-radius: 8px;
}
.uk-button-small {
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  font-size: 16px !important;
  font-family: Arial, Helvetica, sans-serif;
  @media screen and (min-width: 1100px) {
    font-size: 14px !important;
    
  }
}
//CARRUSEL
.margin-next-s {
  @media screen and (min-width: 1100px) {
    margin-right: -1.4rem !important;
  }
}
.margin-prev-s {
  @media screen and (min-width: 1100px) {
    margin-left: -2rem !important;
    color:#00000077;
    &hover {
      color:black !important
    };
  }
}
.uk-slider-container {
  width: 97%;
}
.uk-card {
  width: 85% !important;
  @media screen and (min-width: 1100px) {
    padding:0 2rem 0 4rem;
    width: 100% !important;
  }
}
.uk-slider-items.uk-grid {
  height: 28rem;
}
.card-carousel {
  border-radius: 8px;
  display: flex;
  align-items: end;
  background-size: cover;
  height: 95%;
  width: 100%;
  background-position: center;
}
.card-carousel-1-1 {
  background-image:  linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.555) 90%), url("img/de-que-va-2.jpg");
  background-size: cover;
  background-position: center;
}
.card-carousel-1-2 {
  background:  linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.685) 90%), url("img/en-serio.jpeg");
  background-size: cover;
  background-position: center;
}
.card-carousel-1-3 {
  background-image:  linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.795) 70%),url("img/por-fin.jpg");
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 1100px) {
    background-image:  linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, 0.795) 90%),url("img/por-fin.jpg");
  }
}
.card-carousel-1-4 {
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.685) 90%),url("img/de-que-va-5.jpg");
  background-size: cover;
  background-position: center;
}
.card-carousel-1-5 {
  background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.76) 80%),url("img/de-que-va-6.jpg");
  background-size: cover;
  background-position: center;
}
.card-carousel-1-6 {
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.685) 90%),url("img/de-que-va-7.jpg");
  background-size: cover;
  background-position: center;
}
//carrusel 2
.card-carousel-2-1 {
  background-image:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.77) 60%),
    url("img/en-mi-barrio-2.jpg");
  background-size: cover;
  background-position: center;
   @media screen and (min-width: 1100px) {
    background-image:  linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.795) 90%),url("img/en-mi-barrio-2.jpg");
  }
}
.card-carousel-2-2 {
  background:
    linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.637) 70%),
    url("img/en-mi-barrio-3.jpg");
  background-size: cover;
  background-position: center;
    @media screen and (min-width: 1100px) {
    background-image:  linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.795) 90%),url("img/en-mi-barrio-3.jpg");
  }
}
.card-carousel-2-3 {
  background:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.781) 70%),
    url("img/en-mi-barrio-4.jpg");
  background-size: cover;
  background-position: center;
    @media screen and (min-width: 1100px) {
    background-image:  linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.795) 90%),url("img/en-mi-barrio-4.jpg");
  }
}
.card-carousel-2-4 {
  background:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.651) 65%),
    url("img/en-mi-barrio-5.jpg");
  background-size: cover;
  background-position: center;
}
.card-carousel-2-5 {
  background:
    linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.767) 55%),
    url("img/en-mi-barrio-6.jpg");
  background-size: cover;
  background-position: center;
    @media screen and (min-width: 1100px) {
    background-image:  linear-gradient(to bottom, transparent 20%, rgba(0, 0, 0, 0.795) 80%),url("img/en-mi-barrio-6.jpg");
  }
}
.card-carousel-2-6 {
  background:
    linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.781) 55%),
    url("img/en-mi-barrio-7.jpg");
  background-size: cover;
  background-position: center;
    background-position: center;
    @media screen and (min-width: 1100px) {
    background-image:  linear-gradient(to bottom, transparent 20%, rgba(0, 0, 0, 0.795) 80%),url("img/en-mi-barrio-7.jpg");
  }
}
.card-carousel-2-7 {
  background:
    linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.637) 70%),
    url("img/en-mi-barrio-8.png");
  background-size: cover;
  background-position: center;
     @media screen and (min-width: 1100px) {
    background-image:  linear-gradient(to bottom, transparent 20%, rgba(0, 0, 0, 0.795) 80%),url("img/en-mi-barrio-8.png");
  }
}
.uk-card-body {
  padding: 20px !important;
  @media screen and (min-width: 1100px) {
    padding:  25px !important;
  }
}
.card-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.6rem !important;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  @media screen and (min-width: 1100px) {
     font-size: 24px !important;
     line-height: 2.2rem !important;
  }
}
.uk-slider-nav {
  margin-top: 0rem !important;
  mix-blend-mode: multiply;
}
.uk-slider-nav {
  li {
    a {
      background: #c2c2c2 !important;
      border: 0px !important;
    }
  }
  .uk-active {
    a {
      background: rgb(96, 96, 96) !important;
    }
  }
}

//MODAL
.uk-modal-dialog::-webkit-scrollbar {
  width: 10px;
}
.modal-text {
  padding: 10px 10px 15px 0;
  p,li {
    font-size: 18px !important;
    @media screen and (min-width: 1100px) {
      font-size: 16px !important;
    } 
  }
}
.modal-text::-webkit-scrollbar-track {
  // not uikit
  background: #f1f1f1;
  border-radius: 8px;
}
.modal-text::-webkit-scrollbar-thumb {
  background: rgb(159, 166, 166);
  border-radius: 8px;
}
.uk-modal-title {
  border-bottom: 1px solid $darkgrey;
  margin-right: 20px;
  padding-bottom: 0.5rem;
  margin-bottom: 0px !important;
}
.modal-subtitle {
  font-size: 1.1rem;
  margin-bottom: 0 !important;
  font-weight: bold;
}
.uk-modal-body {
  padding: 20px 0 20px 20px !important;
}
.modal-button-group {
  border-top: 1px solid $darkgrey;
  padding-top: 1rem;
  text-align: left;
  margin-right: 20px;
}
// QUIENES SOIS?
.quienes-somos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media screen and (min-width: 1100px) {
    flex-direction: row;
    gap: 2rem;
  }
}
.img-quienes-somos {
  margin: 1.5rem 0 0 0;
  @media screen and (min-width: 1100px) {
      margin:  0 0 6rem 0;
    max-width: 470px;

  }
}
// REDES SOCIALES
.container-social-media {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.social-icon {
  width: 3.5rem;
  aspect-ratio: 1 /1;
  border-radius: 200px;
}
