// Your brand colors
$yellow: #FDDA24;
$red: #FA4616;
$blue: #00A9E0;
$green: #84BD00;
$orange: #FF8200;
$lightgrey: #F6F6F6;
$darkgrey: #A2A0A0;
$black: #050707;
$white: #FFFFFF;

// Import the Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=PT+Mono&family=Rubik+Mono+One&display=swap');

// .rubik-mono-one-regular {
//   font-family: "Rubik Mono One", monospace;
//   font-weight: 400;
//   font-style: normal;
// }
//
// .lato-regular {
//   font-family: "Lato", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }
//
// .lato-bold {
//   font-family: "Lato", sans-serif;
//   font-weight: 700;
//   font-style: normal;
// }
//
// .lato-regular-italic {
//   font-family: "Lato", sans-serif;
//   font-weight: 400;
//   font-style: italic;
// }
//
// .pt-mono-regular {
//   font-family: "PT Mono", monospace;
//   font-weight: 400;
//   font-style: normal;
// }

// Custom UIKit variables
$global-background: $white;
$global-color: $black;
$global-emphasis-color: $black;
$global-inverse-color: $white;
$global-primary-background: $yellow;
$global-secondary-background: $black;
$global-muted-background: $lightgrey;
$global-font-family: "Lato", sans-serif;
$base-heading-font-family: "Rubik Mono One", monospace;
$heading-large-font-size: 3rem;
$heading-large-font-size-l: clamp(1.75rem, 4.347826087vw + -0.347826087rem, 8rem);

// UIKit default variables and mixins
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// Custom mixin overwrites.
@mixin hook-text-lead() {
  font-family: "PT Mono", monospace;
}

// Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

// Site specific classes

.color-yellow {
  color: $yellow !important;
}
.color-red {
  color: $red !important;
}
.color-blue {
  color: $blue !important;
}
.color-green {
  color: $green !important;
}
.color-orange {
  color: $orange !important;
}
.color-lightgrey {
  color: $lightgrey !important;
}
.color-darkgrey {
  color: $darkgrey !important;
}
.color-black {
  color: $black !important;
}
.color-white {
  color: $white !important;
}

// See https://www.scientecheasy.com/2024/12/youtube-embed-code.html/
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: $container-max-width;
  margin: 0 auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

